[submodule "libscrypt"]
	path = libscrypt
	url = ssh://git@github.com:uliwitness/libscrypt.git
[submodule "libressl-portable"]
	path = libressl-portable
	url = https://github.com/libressl-portable/portable.git
